head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    //- Bootswatch Theme http://www.bootstrapcdn.com/bootswatch/
    //- +bootswatch("cyborg")
    //- +bootswatch("darkly")
    //- +bootswatch("flatly")
    //- +bootswatch("journal")
    //- +bootswatch("lumen")
    //- +bootswatch("paper")
    //- +bootswatch("readable")
    //- +bootswatch("sandstone")
    //- +bootswatch("simplex")
    //- +bootswatch("slate")
    //- +bootswatch("spacelab")
    +bootswatch("superhero")
    //- +bootswatch("united")
    //- +bootswatch("yeti")