include ./includes/mixins.jade
include ./includes/doctype.jade
    include ./includes/head.jade
    body()
        include ./includes/browserhappy.jade

        .container

            +nav("My Project", "dropdown_menu")
                +nav_item( "#", "active" ) Home
                +nav_item( "#" ) About
                +nav_item( "#" ) Contact
                +nav_item_dropdown( "#" )( label="Dropdown")
                    +nav_item( "#" ) Action
                    +nav_item( "#" ) Another action
                    +nav_item( "#" ) Something else here
                    +nav_item( "#" ) Separated link
                    +nav_item( "#" ) One more separated link

            hr

            .jumbotron
                h1 Hello, world!
                p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                p: +button("primary", "more.htm", "large") Learn more

            hr

            .row
                .col-md-4.col-sm-6.col-xs-12 Column 1
                .col-md-4.col-sm-6.col-xs-12 Column 2
                .col-md-4.col-sm-6.col-xs-12 Column 3

            hr

            +panel("Panel Heading") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
            +panel("Panel Heading", "success")
            +panel("Panel Heading", "primary")

            hr

            +button Default
            +button("primary", "link.htm") Primary

            hr

            +button("success", "success.html", "large") Success
            +button("info", "info.html", "small") Info
            +button("warning", "warning.html", "mini") Warning

            hr

            +alert("warning") Warning! Warning!
            +alert("danger") Danger Will Robinson!
            +alert("success") You succeeded :-)
            +alert("info") Some information for you

            hr

            +listGroup("list")
                +listItem("active") Cras justo odio
                +listItem Dapibus ac facilisis in
                +listItem Morbi leo risus
                +listItem Dapibus ac facilisis in
                +listItem Morbi leo risus
                +listItem Dapibus ac facilisis in

            +listGroup("links")
                +listItem("link1.html", "active")
                    +listHeading List group item heading
                    +listText Donec id elit non mi poflatlyrta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                +listItem("link2.html")
                    +listHeading List group item heading
                    +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                +listItem("link3.html")
                    +listHeading List group item heading
                    +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

            +listGroup
                +listItem
                    +listHeading List group item heading
                    +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                +listItem
                    +listHeading List group item heading
                    +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                +listItem
                    +listHeading List group item heading
                    +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.


            include ./includes/footer.jade